
.shake{
  
}

body {

  background-color: black;
  font-family: Tahoma, Helvetica, Arial, sans-serif;;
  font-size: 15px;
  line-height: 1.7;
  margin: 0%;
  padding:0%;

}

a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 0px;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 12px;
  margin: 0 2px;
  padding: 0px 0px;

}

h1, h2, h3, h4 {
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h1 {
  text-align: center;
  border: 1px solid #808080 ;
  font-size: 1.5em;
  font-weight: bold;
  background-color: white;
  
/*  padding: 0;
  border-radius: 25px;*/
}

h2 {
  margin-top: 15%;
  border-bottom: 1px solid #7B4A12;
  font-size: 1.5em;

 font-weight: normal;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

p, ul {
  /*margin: 15px 0;*/
}

ul {
  padding-left: 30px;
}
/* background stuff*/
div{
  text-shadow: none;
   font-weight: normal;
     background-color: #FFCC00;
  color: #000000;
  
}

#wrong_1_1{
 font-weight: normal;
  font-style: normal;
    text-shadow: none;
/*background-color: #D3D3D3;*/
}
#wrong_1_2{
    text-shadow: none;
     font-weight: normal;
}
#wrong_1_3{
    text-shadow: none;
     font-weight: normal;
}
#right_1{
    text-shadow: none;
     font-weight: normal;
}

#wrong_2_1{
    text-shadow: none;
     font-weight: normal;
}
#wrong_2_2{
    text-shadow: none;
     font-weight: normal;
}
#wrong_2_3{
    text-shadow: none; 
    font-weight: normal;
}
#right_2{
    text-shadow: none;
    font-weight: normal;
}

#wrong{
  width: 100%;
}

#right{
  width: 100%;
  
}
#right:visited{
  background-color: green;
  color: green;

}
#right:active{
  background-color: green;
  color: green;

}

$('#right').click(function() {
    $(this).toggleClass('active');
});


#next:hover{
  background-color: #EBC137;
  border-color: #48110C;
}
#next{
  margin-top: 100px;
  border-top: 1px solid #7B4A12;
  color: #771E10;
  text-shadow:none;
  border-color: #E4F6F8;
  background-color: #E38C2D;
  -webkit-animation-name: shake-hard; -ms-animation-name: shake-hard; animation-name: shake-hard; -webkit-animation-duration: 100ms; -ms-animation-duration: 100ms; animation-duration: 100ms; -webkit-animation-iteration-count: infinite; -ms-animation-iteration-count: infinite; animation-iteration-count: infinite; -webkit-animation-timing-function: ease-in-out; -ms-animation-timing-function: ease-in-out; animation-timing-function: ease-in-out; -webkit-animation-delay: 0s; -ms-animation-delay: 0s; animation-delay: 0s; -webkit-animation-play-state: running; -ms-animation-play-state: running; animation-play-state: running; }
}
#nextQ{
  width: 30%;
}

#left-col{
  background: transparent;
  position: absolute;
  left: ;
  top:75%;
  width: 42%;

}
#nextq{
  width: 30%;
}

#right-col{

  background: transparent;
  position: absolute;
  left: 50%;
  margin-left: 3%;
  top:75%;
  width: 42%;
}

#body{

/*   background-image: url("../images/road_damage.jpeg");
*/
    height:100vh;
}
#header-div{
  background-color: red;
  padding: 0%;
  margin: 0%;
  
}
#progress{
  
  top:0%;
  left: 0%;
  position: absolute;
  width: 100%;

}

#footer{
  position: absolute;
  top:90%;
  width: 100%;
}

